@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.info td {
  background-color: #ddd;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
table {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
