@tailwind base;
@tailwind components;
@tailwind utilities;
main {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #clock, h1 {
    font-size: 2.5em;
  }
  main {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  table {
    font-size: 1.5em;
    display: table;
  }
}
.dropbtn {
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #dddddd;}
.show {
display:block;
} 